{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block content %}
  <div id="content-main">
    {% if form.errors %}
      <p class="errornote">{% trans "Please correct the error below." %}</p>
    {% endif %}

    <form action="{% url 'admin:login' %}" method="post" id="login-form">{% csrf_token %}
      <div>
        <label for="id_username">{% trans 'Username:' %}</label>
        <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
      </div>
      <div>
        <label for="id_password">{% trans 'Password:' %}</label>
        <input type="password" name="password" autocomplete="current-password" required id="id_password">
      </div>

      <div class="submit-row">
        <input type="submit" value="{% trans 'Log in' %}">
      </div>
    </form>

    <div style="margin-top: 10px;">
      <a href="{% url 'password_reset' %}">🔐 Forgot password?</a>
    </div>
  </div>
{% endblock %}
